* {
  margin: 0;
  padding: 0;
}
.root {
  height: 100vh;
  background-color: #f4976c;
}
.container {
  box-shadow: 3px 3px 15px 5px rgb(124, 36, 36);
}
.heading-1 {
  color: white;
  background-color: #303c6c;
  /* background-color:#f4976c; */
  padding: 1rem 0rem 1rem 0rem;
}
svg {
  image-resolution: 0.625rem;
}
a {
  float: inline-end;
  margin-right: 1rem;
}
/* pink #f4976c */
/* blue #303c6c */
/* skyblu #b4dfe5
light blu d2fdff */
/*
 background-color:#fbe8a6;
 background-color:#303c6c;
 background-color:#b4dfe5;
 background-color:#d2fdff; 
 */

.main {
  background-color: #f4976c;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.container {
  border-radius: 25px;
  background-color: #fbe8a6;
  width: fit-content;
  height: fit-content;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 1rem 1rem 15rem 1rem;
}

.datainput {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cancel {
  float: inline-end;
  color: white;
  background-color: #303c6c;
  border: none;
  border-radius: 25%;
  width: 15%;
  padding: 0.1rem;
  height: fit-content;
  margin-right: 0.5rem;
  font-size: 1.2rem;
}

.cancel:hover {
  background-color: rgb(239, 36, 36);
  transition: 0.2s ease;
  box-shadow: 1px 1px 5px 1px rgb(62, 110, 55);
}

.add {
  width: 50%;
  color: white;
  background-color: #303c6c;
  border: none;
  border-radius: 25%;
  width: 3.5rem;
  height: 2.3rem;
  margin: 1rem;
  font-size: 20px;
}

.add:hover {
  background-color: rgb(46, 190, 41);
  transition: 0.2s ease;
  box-shadow: 1px 1px 5px 1px rgb(62, 110, 55);
}
/* .list{
    
   list-style-image: linear-gradient(to left bottom, red, blue); */
/* list-style-image: url("cancel.png"); */

.items {
  list-style: disc;
  color: rgb(28, 43, 43);
  border-radius: 8px;
  padding: 0.2rem;
  margin: 0.5rem;
  padding: 0.3rem 0px 0.6rem 0.6rem;
  background-color: #a8d8df;
  list-style: none;
}

.clear {
  color: white;
  background-color: #303c6c;
  border: none;
  border-radius: 15px;
  width: 50%;
  padding: 0.1rem;
  height: 3rem;
  font-size: 1.2rem;
  margin: 10% 25% 10% 25%;
}
.clear:hover {
  background-color: rgb(239, 36, 36);
  transition: 0.2s ease;
  box-shadow: 1px 1px 5px 1px rgb(62, 110, 55);
}

.workinput {
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  width: 60%;
  background-color: rgb(249, 248, 242);
}
.workinput:hover {
  box-shadow: 1px 2px 5px 2px darkgray;
  transition: 0.3s ease;
}
